@model IEnumerable<InitiumSolutionsTask.Models.Booking>

@{
    ViewData["Title"] = "Booking List";
}

<h1>Booking List</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Booking</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>National ID</th>
            <th>Phone Number</th>
            <th>Branch</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Customer.Name</td>
                <td>@booking.Customer.NationalId</td>
                <td>@booking.Customer.PhoneNumber</td>
                <td>@booking.HotelBranch.BranchName</td>
                <td>@booking.CheckInDate.ToShortDateString()</td>
                <td>@booking.CheckOutDate.ToShortDateString()</td>
                <td>@booking.DiscountApplied * 100 %</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Booking", new { id = booking.BookingId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
